.container {
    background-color: #282c34;
    font-variant: white;
    width: auto;
    margin: auto;
    justify-content: center;
    /* table-layout: auto; */
}

th {
    text-align: center;
    padding-bottom: 18px;
    text-transform: uppercase;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


tr, td {
    justify-content: center;
    padding: 10px 40px;;
}

td {
    border-top: 3px solid black;
    border-bottom: inherit;
}

img {
    width: 60px;
    height: 60px;
}

